body {
				text-align: center;
				margin: 0.1em;
				font-family: "Noto Sans";
			}
			button {
				font-family: "Noto Sans";
				white-space: normal !important;
				height: 100% !important;
			}
			.material-symbols-outlined {
				font-variation-settings:
				'FILL' 0,
				'wght' 400,
				'GRAD' 0,
				'opsz' 48;
				font-size: 5em;
			}
			.menu-bar {
				font-size: 4em;
			}
			.big {
				font-size: 5em;
				margin: 0.01em;
			}
			.w3-cell {
				width: 50%;
			}
			#information {
				margin: 0.5em;
			}
